@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');
h1,
p {
  font-family: Lato;
}

a {
  color: #fffff0;
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
}

html,
body {
  margin: 0px 0px 0px 0px;
  height: 100%;
  overflow-x: hidden;
}

#botcardsa {
  position: relative;
  bottom: 40px;
}

.pdbga {
  background-size: cover;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 50" enable-background="new" xml:space="preserve"><polygon points="0,0 0,20 100,40 100,0" style="fill:rgb(211,254,252)"/></svg>');
}

.acadbody {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
}

.acadbodymob {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#carsa {
  box-shadow: 0px 10px 5px gray;
  height: 50vh;
}

#carsamob {
  box-shadow: 0px 10px 5px gray;
}

#qlinksa {
  background-color: #26a69a;
  color: #fffff0;
}

#newsindex {
  padding-top: 20px;
}

#lmain {
  margin-right: 2%;
  width: 68%;
}

#rmain {
  margin-left: 2%;
  width: 28%
}

#mobdepro {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

#mv {
  margin-top: 20px;
  margin-left: 64px;
  margin-right: 64px;
}

div.ql-editor table,
div.ql-editor th,
div.ql-editor td {
    border: 1px solid black;
}

div.ql-editor table {
    width: 100%;
    border-collapse: collapse;
}

div.fac th,
div.fac td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#bg {
  width: 100%;
  height: 100%;
  background-color: #fffff0;
}

.maincontainer {
  background-color: #ffffff;
  margin: 0;
  max-width: 5000px;
  padding: 0;
  width: 99vw;
  height: 160vh;

  scroll-behavior: auto;
}
.imageplaceholder {
  background-color: #31c2bb;
  width: 60%;
  height: 55%;
  position: relative;
  top: 20%;
  left: 5%;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
}
.contentplaceholder {
  background-color: #ffffff;
  width: 60%;
  min-height: 750px;
  position: relative;
  left: 38%;
  top: -40%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}
.triangle1 {
  width: 0;
  height: 0;
  position: relative;
  border-top: 100px solid #bffcf8;
  border-left: 100px solid transparent;
  transform: scale(15) translate(20px, 30px) rotate(700deg);
}
.cardcontents {
  position: relative;
  top: -50px;
  color: #062a51;
}
div.labs li {
  padding-top: 10px;
  list-style: none;
}
div.labs {
  text-align: left;
  padding: 10px;
}
div.labs a {
  text-decoration: none;
  transition: all 0.5s ease-out;
  color: #062a51;
  border-radius: 2px;
  padding: 5px;
}
div.labs a:link {
  text-decoration: none;
}
div.labs a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  /* background-color: rgba(0, 255, 255, 0.2); */
  background-color: #062a51;
  color: #75e7e2;
}

.workshopdetails {
  margin-right: 10px;
  float: right;
  display: block;
  border-left: 4px solid #06294f;
  padding-left: 60px;
}

.imageplaceholderspecific {
  background-color: #31c2bb;
  width: 90%;
  height: 45%;
  position: relative;
  top: 15vh;
  left: 5%;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
}
.contentplaceholderspecific {
  background-color: #ffffff;
  /* margin-bottom: 50px; */
  width: 84%;
  min-height: 750px;
  position: relative;
  left: 15%;
  top: -85vh;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

.testimonialheading {
  z-index: 1000;
  position: relative;
  top: -35%;
}
.triangle2 {
  width: 0;
  height: 0;
  position: relative;
  border-top: 100px solid rgb(255, 255, 255);
  border-left: 100px solid transparent;
  transform: scale(15) translate(-32.4px, 30px) rotate(680deg);
  z-index: 0;
}
.imgtxt{
  line-height: 100%;
  position: relative;
  font-size: 90%;
  
}