@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');
h1,
p {
  font-family: Lato;
}

a {
  color: #fffff0;
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
}

html,
body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

#botcardsa {
  position: relative;
  bottom: 40px;
}

.pdbga {
  background-size: cover;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 50" enable-background="new" xml:space="preserve"><polygon points="0,0 0,20 100,40 100,0" style="fill:rgb(211,254,252)"/></svg>');
  padding: 15px
}

#carsa {
  box-shadow: 0px 10px 5px gray;
  height: 50vh;
}

#qlinksa {
  background-color: #26a69a;
  color: #fffff0;
}

#newsindex {
  padding-top: 20px;
}

#lmain {
  margin-right: 2%;
  width: 68%;
}

#rmain {
  margin-left: 2%;
  width: 28%
}

#mobdepro {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

#mv {
  margin-top: 20px;
  margin-left: 64px;
  margin-right: 64px;
}

div.ql-editor table,
div.ql-editor th,
div.ql-editor td {
    border: 1px solid black;
}

div.ql-editor table {
    width: 100%;
    border-collapse: collapse;
}

#bg {
  height: 100%;
  background-color: #fffff0;
}
